.contact{
  text-align:center;
  padding:40px;
}

.contact-form{
  margin-top:20px;
  display:flex;
  flex-direction:column;
  gap:10px;
  max-width:400px;
  margin-left:auto;
  margin-right:auto;
}

.contact-form input,
.contact-form textarea{
  padding:10px;
}

.contact-form button{
  padding:10px;
  background:black;
  color:white;
  border:none;
}